.header-wrap {
    width: 100%;
    height: 12vh;
    justify-content: space-between;
    .logo {
        h2{ 
            font-size: 1.5rem;
            font-weight: 900;
            font-family: Montserrat;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }
    }
    .navs {
        ul {
            gap: 30px;
            li {
                list-style: none;
                font-size: 1.2rem;
                text-transform: capitalize;
                font-family: Montserrat;
            }
        }
    }
}