* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body {
  background: rgb(15 23 42);
  color: #fff;
  width: calc(100% - 200px);
  padding-left: 100px;
  padding-right: 100px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}
